.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.125rem;
    margin-bottom: 1.5rem;
}

footer__description {
    display: block;
}

.footer__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    color: #333;
    font-weight: 700;
}

.footer__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #f38181;
    margin-left: 0.3125rem;
}

.footer__subscribe-button {
    width: 9.375rem;
    height: 2.5rem;
    background-color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    border: none;
    cursor: pointer;
}

.footer__subscribe-email {
    width: 14.375rem;
    height: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-style: italic;
    color: #333;
    border: 0.0625rem solid #e7e7e7;
    padding-left: 0.625rem;
}

.footer__subscribe-email::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9375rem;
    font-style: italic;
    color: #ccc;
    font-weight: 400;
}

.footer::before {
    display: block;
    content: '';
    height: 1px;
    background-color: #E5E5E5;
    min-width: 1200px;
    margin-bottom: 0.625rem;
}