.wrapper {
    background-color: #FFFFFF;
    width: 100%;
}

.wrapper-banner {
    background-image: url(../images/background-min.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100%;
    min-height: 100%;
    padding-bottom: 15rem;
}

.content {
    width: 75rem;
    margin: auto;
    height: 100%;
}

.page-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 4.375rem;
}

.page-nav__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
}

.page-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-preferred-size: 30.625rem;
    flex-basis: 30.625rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.page-nav__link {
    text-decoration: none;
    text-transform: uppercase;
    color: #f9e0e0;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
}

.page-nav__link:hover {
    color: #fce38a;
    border-bottom: 0.1875rem solid #fce38a;
}

.cart,
.search {
    display: inline-block;
    background: url(../images/spritepng.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

.cart {
    background-position: -0 -1.125rem;
    width: 1.125rem;
    height: 1.125rem;
}

.search {
    background-position: -0 -0;
    width: 1.125rem;
    height: 1.125rem;
}

.title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.banner-title__premain {
	font-family: 'Kaushan Script';
	font-size: 4.5rem;
    color: #FFFFFF;
    text-align: center;
    margin-top: 8.125rem;
}
.banner-title__main {
    font-family: 'Montserrat', sans-serif;
	font-size: 9.375rem;
	color: #FFFFFF;
	font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3.75rem;
    letter-spacing: 1px;
}
.banner-butt {
    font-family: 'Montserrat', sans-serif;
 	font-size: 0.875rem;
 	color: #FFFFFF;
 	font-weight: 700;
 	text-transform: uppercase;
 	border: 3px solid #FFFFFF;
 	background-color: #eec788;
 	padding: 0.9375rem 2.0625rem;
 	margin-top: 7.5rem;
     cursor: pointer;
     text-align: center;
}