* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    display: block;
    background-color: #FFFFFF;
    padding-top: 43px;
    width: 1600px;
}
.container {
    width: 1170px;
    margin: auto;
    background-color: #FFFFFF;
}
body {
    font-size: 0;
}
.logo {
    float: left;
    text-decoration: none;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    width: 78px;
    height: 21px;
    color: #515151;
}
.logo::first-letter {
    color: #1ABC9C;
}
.nav-site {
    float: right;
    list-style: none;
}
.list {
    float: left;
    margin-right: 20px;
}
.list:last-child {
    margin-right: 0;
}
.list-item {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
 	font-family: "Open Sans";	
    font-size: 14px;	
    font-weight: 700;
    color: #515151;
    line-height: 32px;
}
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}
.list:hover>.list-item {
    color: #1ABC9C;
}
.header {
    padding-bottom: 52px;
}
.box-backgroud-image {
    position: relative;
    max-width: 1600px;
    min-width: 1170px;
    height: 600px;
    margin: auto;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 101px;
}
.title {
    font-family: 'Roboto';
    font-size: 60px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 82px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text {
    font-family: 'Open Sans';
    font-size: 27px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 400;
    position: absolute;
    top: 60%;
    right: 40%;
}
.slider-box1 {
    position: absolute;
    top: 50%;
    left: 10%;
    height: 100px;	
    width: 100px;
    background-color: #4EC6AB;
}
.slider-box2 {
    position: absolute;
    top: 50%;
    right: 10%;
    height: 100px;	
    width: 100px;
    background-color:#1ABC9C
}
.slider-link {
    display: block;
   text-decoration: none; 
}
.symbol {
    display: block;
    text-align: center;
    color: #FFFFFF;
    font-size: 100px;
    line-height: 100px;
    cursor: pointer;  
}
.title-collection {
    color: #515151;	
    font-family: "Roboto";	
    font-size: 46px;	
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    text-align: center;
}
.title-collection::after {
    display: block;
    content: '';
    width: 164px;
    height: 7px;
    background: #1ABC9C;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 92px;
}
.card { 
    position: relative;
    width: 255px;
    height: 281px;
    float: left; 
    margin-right: 30px;
    border: solid white 1px;
}
card:last-child {
    margin-right: 0;
}
.name {
    width: 201px;
    float: left;
    color: #FFFFFF;	
    font-family: 'Roboto';	
    font-size: 18px;	
    font-weight: 700;		
    line-height: 40px;
    background-color: #323232;
    text-align: left;
    padding-left: 14px;
}
.price {
    width: 52px;
    float: left; 	
    background-color: #8c8c8c;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    font-family: 'Roboto';
}
.price::before {
    display: inline-block;
    content: '\0024';
}
.card:hover .name {
    background-color: #1ABC9C;
}
.card:hover .price {
    background-color: #7fd9c7;
}
.container-section {
    width: 1170px;
    margin: auto;
    background-color: #FFFFFF;
}
.main {
    width: 1170px;
    height: 676px;
}
.footer {
    position: relative;
    height: 88px;	
    width: 1600px;	
    background-color: 
    #323232
}
.footer-info {	
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FEFEFE;	
    font-family: 'Open Sans';
    font-size: 16px;			
}
.footer-item .footer-info:hover {
    color: #1ABC9C;
}
.card-list {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #FFFFFF;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
}
.card-list4 {
    height: 50px;	
    width: 166px;
}
.info-name {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 353px;
    width: 255px;	
    border: 5px solid #FFFFFF;		
    background-color: rgba(0, 0, 0, 0.5);
}
.card-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card:hover>.info-name {
    display: block;
}
card:hover {
    display: none;
}
.button-item1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 26px;
    height: 23px;
    background-image: url('../images/icon1.png');
    background-color: transparent;
    background-position: center;
    margin: auto;
    background-repeat: no-repeat;
}
.button-item2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 26px;
    height: 23px;
    background-image: url('../images/icon2.png');
    background-color: transparent;
    background-position: center;
    margin: auto;
    background-repeat: no-repeat;
}
.button-item3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 26px;
    height: 23px;
    background-image: url('../images/icon3.png');
    background-color: transparent;
    background-position: center;
    margin: auto;
    background-repeat: no-repeat;
}
.button-item4 {
    display: block;
    color: #FFFFFF;	
    font-family: 'Open Sans';	
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 50px;
    background-image: url('../images/icon4.png');
    background-color: #323232;
    background-position: left;
    border: 1px solid #FFFFFF;
    margin: auto;
    background-repeat: no-repeat;
}
.button-item4:hover {
    background-color:#1ABC9C;
}
.card-list:hover {
    background-color:#1ABC9C;
}